/* ESTILO DE LA LETRA*/  
 .honk-LETRA1 {
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "MORF" 15,
      "SHLN" 50;
 }
 .nabla-LETRA2 {
      font-family: "Nabla", system-ui;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-variation-settings:
       "EDPT" 100,
       "EHLT" 12;
}
/* ESTILO DEL ENCABEZADO*/
.presentacion {
    background-color: rgb(3, 3, 3);
    font-family:"Nabla";
    font-size: 40px;
    text-align: center;
    padding: 25px;
}
.sub {
    background-color: rgb(3, 3, 3);
    font-family:"Honk";
    font-size: 80px;
    text-align: center;
    padding: 25px;
}
 header {
    background-color: rgb(220, 166, 86);
 }
 header ul {
    color: blue;
    font-weight: 800;
 }
 header .logo{
    font-weight: 1000;
    font-size: 40px;
 }
 #caja {
     background-image: url("https://media.revistagq.com/photos/645dde361c98f4b147443172/16:9/w_2560%2Cc_limit/100%2520mejores%2520videojuegos%2520gq.png");
     background-position: center;
     border: solid rgba(199, 233, 65, 0.753) 30px;
     padding: 170px;
     margin: 100px,
 }
 h1#caja {
     color:rgb(255, 255, 255);
     font-family: "bungee";
     text-align: center;
     text-transform: uppercase;
     font-size:80px;
 }
/* ESTILO DEL CUERPÓ*/
body {
    background-image: url("https://www.shutterstock.com/image-illustration/3d-illustration-renderinggaming-gamer-background-260nw-2165406265.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    font-family: sans-serif;   
}
 form {
     background-position: center;
     border:transparent;
     padding: 170px;
     margin: 100px,

 }
 form h2 {
    background-color: #e71919;
    font-family:"nabla";
    text-align: center;
    font-size: 100px;
 }
 form p {
     color:rgb(0, 0, 0);
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     text-align: justify;
     text-decoration: solid;
     font-size: 30px;
 }
 form h3 {
     font-family:"honk";
     font-size: 70px;
     text-transform: uppercase;
 }
 .imagen {
     width: 500px;
     height: 250px;
     border-radius:25px;
 }

/* ESTILO DE LA BASE*/
 .base{
    color:rgb(0, 0, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
 }
 .icon{
    color: black;
 }

